body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: @main-text-color;
    position: relative;
}

.wrapper {
    .container;
}

.clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.container {
    width: 320px;
    margin: 0 auto;
    @media @tablet {
        width: 700px;
    }
    @media @desktop {
        width: 1200px;
    }
}

img {
    display: block;
}