.intro {
    background: #1d2631 url('../../img/bg-back-mobile.jpg') no-repeat 50% -15px;
    background-size: 720px;
    padding-top: 85px;
}

.intro__top {
    min-height: 375px;
}

.intro__wrapper {
    .container;
    text-align: center;
}

.intro__wrapper--bgr {
    background: url('../../img/iphone-hand-mobile.png') no-repeat 0 100%;
    background-size: 258px;
}

.intro__subtitle {
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    padding-left: 28px;
    padding-right: 28px;
}

.intro__bottom {
    min-height: 245px; 
    padding-top: 25px;
    text-align: center;
    background-color: #1d2631;
}

.intro__button {
    display: block;
    text-decoration: none;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 3px solid #fff;
    border-radius: 30px;
    font-weight: 700;
    font-size: 18px;
    width: 275px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 35px;
    &:hover {
        background-color: #fff;
        color: #d22856;
    }
    &:active {
        color: #f1becc;
    }
}

.intro__icons {
    text-align: center;
}

.intro__icon {
    width: 60px;
    height: 60px;
    display: inline-block;
}

.intro__icon--apple {
    background: url('../../img/logo-apple.svg') no-repeat 50% 50%;
}

.intro__icon--android {
    background: url('../../img/logo-android.svg') no-repeat 50% 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.intro__icon--windows {
    background: url('../../img/logo-microsoft.svg') no-repeat 50% 50%;
}

.intro__text {
    font-weight: 300;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    padding-left: 40px;
    padding-right: 40px;
}

.intro--form,
.intro--photo {
    min-height: 150px;
}

.intro--form .intro__wrapper--bgr,
.intro--photo .intro__wrapper--bgr {
    background: none;
}

@media
(min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
    .intro {
        background: url('../../img/bg-back-mobile@2x.jpg') no-repeat 50% 0;
        background-size: cover;
    }
    .intro__wrapper--bgr {
        background: url('../../img/iphone-hand-mobile@2x.png') no-repeat 0 100%;
        background-size: 516px;
    }
}

@media @tablet {
    .intro {
       padding-top: 198px; 
       min-height: 530px;
       background: url('../../img/iphone-hand-tablet@1x.png') no-repeat 85% 100%, 
       url('../../img/bg-back-tablet@1x.jpg') no-repeat 50% 0;
        background-size: 700px, cover;
    }
    .intro__top, 
    .intro__bottom {
        width: 300px;
        padding-left: 40px;
    }
    .intro__top {
        min-height: 100px;
        margin-bottom: 15px;
    } 
    .intro__bottom {
        min-height: 250px;
        background: none;
        padding-top: 0;
    }
    .intro__wrapper--bgr {
        background: none;
    }
    .intro__subtitle {
        padding-left: 58px;
        padding-right: 58px;
        font-size: 40px;
        text-align: center;
    }
    .intro__text {
        padding: 0;
        font-size: 18px;
    }
    .intro__button {
        width: 294px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 45px;
    }
    .intro__icons {
        margin-bottom: 30px;
    }
    .intro--form,
    .intro--photo {
        min-height: 260px;
        padding-top: 180px;
        line-height: 60px;
        background: url('../../img/bg-back-mobile.jpg') no-repeat 50% 0;
        background-size: cover;
    }
    .intro--form .intro__subtitle,
    .intro--photo .intro__subtitle {
        font-size: 50px;
    }
    @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
        .intro {
            background: url('../../img/iphone-hand-tablet@2x.png') no-repeat 85% 100%, 
           url('../../img/bg-back-tablet@2x.jpg') no-repeat 50% 0;
            background-size: 1400px, cover;
        }
    }
}

@media @desktop {
    .intro {
        padding-top: 215px;
        min-height: 640px;
        background: url('../../img/iphone-hand-desktop@1x.png') no-repeat 95% 100%, 
       url('../../img/bg-back-tablet@1x.jpg') no-repeat 50% 0;
        background-size: 1050px, cover;
    }
    .intro__top, 
    .intro__bottom {
        width: 300px;
        padding-left: 130px;
        padding-right: 130px;
    }
    .intro__subtitle {
        font-size: 50px;
        line-height: 60px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
    .intro__bottom { 
        padding-top: 40px;
    }
    .intro__button {
        margin-bottom: 65px;
        font-size: 21px;
    }
    .intro__icons {
        margin-bottom: 45px;
    }
    .intro--form,
    .intro--photo {
        min-height: 220px;
        padding-top: 175px;
        background: url('../../img/bg-back-mobile.jpg') no-repeat 50% 0;
        background-size: cover;
    }
    .intro--form .intro__subtitle,
    .intro--photo .intro__subtitle {
        font-size: 50px;
        padding-left: 150px;
        padding-right: 150px;
    }
    .intro--photo .intro__subtitle {
        padding-left: 300px;
        padding-right: 300px;
    }
    @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
        .intro {
            background: url('../../img/iphone-hand-desktop@2x.png') no-repeat 85% 100%, 
           url('../../img/bg-back-tablet@2x.jpg') no-repeat 50% 0;
            background-size: 2100px, cover;
        }
    }
}