.main-nav {
    margin: 0 auto;
    z-index: 10px;
}

.main-nav__list {
    padding: 0;
    margin: 0;
}

.main-nav__item {
    list-style: none;
    text-align: center;
}

.main-nav__item a {
    display: block;
    background-color: #283645;
    color: #fff;
    font-family: 'Open Sans Bold';
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 18px;
    padding-bottom: 20px;
    border-top: 1px solid #495562;
    border-bottom: 1px solid #000;
}

.main-nav__item a:hover {
    color: #d22856;
}

.main-nav__item a:active {
    color: rgba(188, 43, 85, 0.3);
}

.main-nav-toggle {
    width: 55px;
    height: 26px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
}

.hidden{
    display: none;
}

.main-nav__toggle-wrapper:hover .main-nav-toggle__color {
    fill: #d22856;
}

.main-nav__toggle-wrapper:active .main-nav-toggle__color {
    fill: rgba(210,40,86,0.3);
}

@media @tablet {
    .main-nav {
        width: 100%;
    }
    .main-nav-toggle {
        right: 40px;
        top: 40px;
    }
}

@media @desktop {
    .main-nav {
        width: 690px;
        padding-right: 60px;
        padding-top: 13px;
        display: block;
        float: right;
        font-size: 0;
    }
    .main-nav__item {
        display: inline-block;
        vertical-align: top;
        background: transparent;
        text-align: center;
    }
    .main-nav__item a {
        margin-right: 77px;
        width: auto;
        background: transparent;
        border-top: none;
        border-bottom: none;
        font-family: 'Open Sans Regular';
        font-weight: 400;
        text-transform: none;
        padding: 0;
        padding-bottom: 8px;
    }
    .main-nav__item a:hover {
        border-bottom: 2px solid #fff;
        color: #fff;
    }
    .main-nav__item a:active {
        border-bottom: none;
        color: rgba(255, 255, 255, 0.3)
    }
    .main-nav__item a:last-child {
        margin-right: none;
    }
    .main-nav-toggle {
        display: none;
    }
}