.main-header {
    position: absolute;
}

.main-header__menu {
    position: relative;
}

.main-header__wrapper {
    .container;
}

.main-header__menu--closed {
    background: rgba(29, 38, 49, 0.3);
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: none;
}

.main-header__menu--opened {
    background-color: #283645;
    padding-top: 21px;
    padding-bottom: 25px;
    border-bottom: 1px solid #000;
}

.main-header__logo {
    width: 80px;
    padding-left: 20px;
}

.main-header__img-tablet {
    display: none;
}

@media @tablet {
    .main-header__menu--closed {
        padding-top: 43px;
        padding-bottom: 40px;
    }
    .main-header__menu--opened {
        padding-top: 43px;
        padding-bottom: 40px;
    }
    .main-header__logo {
        width: 150px;
        padding-left: 40px;
    }
    .main-header__img-mobile {
        display: none;
    }
    .main-header__img-tablet {
        display: block;
    }
    .main-header__wrapper {
        .container;
        .clearfix;
    }
    
}

@media @desktop {
    .main-header {
        background: rgba(29, 38, 49, 0.3);
        padding-top: 43px;
        padding-bottom: 43px;
    }
    .main-header__logo {
        float: left;
        padding-left: 130px;
    }
    .main-header__menu {
        border-bottom: none;
        padding: 0;
    }
}


