.main-info {
    padding-top: 2px;
}
.main-info__wrapper {
    .container;
    .clearfix;
    text-align: center;
} 

.main-info__top {
    min-height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.main-info__subtitle {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #1d2631;
    margin-bottom: 30px;
}

.main-info__subtitle:last-child {
    margin-bottom: 24px;
}

.main-info__bottom {
    min-height: 420px;
    background-color: @main-info-color;
    position: relative;
    &:before {
        content: '';
        width: 100%;
        display: block;
        height: 35px;
        background-image: linear-gradient(
        to bottom right,
        #fff 50%,
        @main-info-color 50%
        );
        position: absolute;
        left: 0;
        top: -35px;
    }
}

.main-info__inner {
    padding-top: 50px;
    padding-bottom: 290px;
    padding-left: 20px;
    padding-right: 20px;
    background: @main-info-color url('../../img/iphone-screen-mobile.png') no-repeat 50% 110%;
}

.main-info__short {
    min-height: 100px;
    margin-bottom: 30px;
}

.main-info__title {
    font-weight: 700;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}

.main-info__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
@media (min-resolution: 144dpi),
       (min-resolution: 1.5dppx) {
     .main-info__bottom {
        background: @main-info-color url('../../img/iphone-screen-mobile@2x.png') no-repeat 50% 110%;
}
}
@media @tablet {
    .main-info {
        padding-top: 22px;
    }
    .main-info__top {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 15px;
        min-height: 230px;
    }
    .main-info__subtitle {
        font-size: 40px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 5px;
        margin-top: 8px;
        line-height: 44px;
    }
    .main-info__subtitle-bottom {
        padding-left: 140px;
        padding-right: 140px;
    }
    .main-info__bottom {
        min-height: 250px;
        position: relative;
    }
    .main-info__bottom:before {
        height: 55px;
        top: -55px;
    }
    .main-info__inner {
        padding-left: 300px;
        padding-top: 24px;
        padding-bottom: 25px;
        padding-right: 40px;
        width: auto;
        background-image: none;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            width: 266px;
            height: 480px;
            bottom: 0;
            left: 40px;
            background: transparent url('../../img/iphone-screen-mobile.png') no-repeat 50% 0;
            background-size: 270px;
        }
    }
    .main-info__short {
        margin-bottom: 35px;
        padding-left: 50px;
        font-size: 14px;
        text-align: left;
        width: 310px;
    }
    .main-info__short:last-child {
        margin-bottom: 0;
    }
    @media (min-resolution: 144dpi),
       (min-resolution: 1.5dppx) {
        .main-info__bottom {
        background: @main-info-color url('../../img/iphone-screen-mobile@2x.png') no-repeat 50% 110%;
        }
    }
}

@media @desktop {
    .main-info {
        padding-top: 50px;
    }
    .main-info__subtitle {
        font-size: 50px;
        margin-bottom: 8px;
        margin-top: 0;
        line-height: 55px;
    }
    .main-info__subtitle-bottom {
        padding-left: 350px;
        padding-right: 350px;
    }
    .main-info__top {
        min-height: 330px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .main-info__bottom {
        min-height: 500px;
    }
    .main-info__bottom:before {
        height: 90px;
        width: 100%;
        top: -90px;
    }
    .main-info__inner {
        padding-left: 130px;
        padding-right: 130px;
        background-image: none;
        padding-top: 0;
        &:after {
            display: none;
        }
    }
    .main-info__short {
        display: inline-block;
        vertical-align: top;
        width: 310px;
        min-height: 200px;
        margin-bottom: 0;
        padding-top: 360px;
        padding-left: 0;
        text-align: center;
        position: relative;
        margin-top: -96px;
    }
    .main-info__title {
        font-size: 30px;
        line-height: 30px;
        padding-left: 40px;
        padding-right: 45px;
        margin-bottom: 24px;
    }
    .main-info__text {
        padding-left: 28px;
        padding-right: 35px;
        font-size: 18px;
        line-height: 30px;
    }
    .main-info__short:before {
        content: '';
        width: 280px;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        background-size: 292px;
    }
    .main-info__short--mobile1:before {
        background: transparent url('../../img/iphone-screen-desktop-1@1x.png') no-repeat 0 50%;
    }
    .main-info__short--mobile2:before {
        background: transparent url('../../img/iphone-screen-desktop-2@1x.png') no-repeat 11px 50%;
    }
    .main-info__short--mobile3:before {
        background: transparent url('../../img/iphone-screen-desktop-3@1x.png') no-repeat 20px 50%;
    }
    @media (min-resolution: 144dpi),
       (min-resolution: 1.5dppx) {
       .main-info__short--mobile1:before {
            background: transparent url('../../img/iphone-screen-desktop-1@2x.png') no-repeat 0 0;
            background-size: 292px;
        }
        .main-info__short--mobile2:before {
            background: transparent url('../../img/iphone-screen-desktop-2@2x.png') no-repeat 0 0;
            background-size: 292px;
        }
        .main-info__short--mobile3:before {
            background: transparent url('../../img/iphone-screen-desktop-3@2x.png') no-repeat 0 0;
            background-size: 292px;
        }
    }
}