.price {
    min-height: 380px;
    padding-top: 65px;
    background-color: @price-bgr-color;
    position: relative;
}

.price:before {
    content: '';
    width: 100%;
    display: block;
    height: 33px;
    background-image: linear-gradient(
      to bottom right,
      #fff 50%,
      @main-info-color 50%
    );
    position: absolute;
    left: 0;
    top: -33px;
}

.price__wrapper {
    .container-fluid;
    position: relative;
    min-height: 380px;
    overflow: hidden;
}

.price__slider {
    width: 850px;
    position: absolute;
    left: -83%;
}

.price .slider-nav {
    position: absolute;
    bottom: 45px;
    left: 43%;
}

.price__slider-item {
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
    width: 280px;
    margin-left: -1px;
}

.price__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.price__offer {
    width: 260px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: @main-text-color;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e5e5e5;
    border-right: none;
    border-bottom: none;
    position: relative;
    background-color: #fff;
}

.price__slider-item:last-child .price__offer {
    border-right: 2px solid #e5e5e5;
}

.price__offer:last-child {
    border-bottom: 2px solid #e5e5e5;
}

.price__offer:after {
    content: '';
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 5px;
    right: 13px;
}

.price__offer--included:after {
    background: transparent url('../../img/icon-yes.svg') no-repeat 50% 50%;
    background-size: 30px;
}

.price__offer--noincluded:after {
    background: transparent url('../../img/icon-no.svg') no-repeat 50% 50%;
}

.price__offer-title {
    background-color: #283645;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    width: 240px;
    position: relative;
    text-transform: uppercase;
    border: 2px solid #e5e5e5;
    border-right: none;
    border-bottom: none;
}

.price__offer--title:after {
    display: none;
}

.price__offer-hit:before {
    content:'';
    display: block;
    width: 74px;
    height: 74px;
    font-weight: 300;
    font-size: 14px;
    background: url('../../img/hit.png') no-repeat 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.price__offer-name {
    display: block;
    font-weight: 300;
    font-size: 24px;
}

@media @tablet {
    .price {
        padding-top: 35px;
        min-height: 290px;
    }
    .price__wrapper {
        .container;
    }
    .price__slider {
        position: static;
        padding-left: 197px;
        padding-right: 37px;
    }
    .price__slider-item {
        display: inline-block;
        vertical-align: top;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
        width: auto;
    }
    .price__list {
        font-size: 0;
    }
    .price:before {
        height: 54px;
        top: -54px;
    }
    .price__offer,
    .price__offer-title {
        width: 154px;
        padding-left: 0;
        padding-top: 19px;
        padding-bottom: 19px;
        min-height: 6px;
        border-left: none;
    }
    .price__offer-title {
        padding-right: 0;
        font-size: 16px;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    .price__offer-name {
        font-size: 18px;
    }
    .price__offer-hit:before {
        width: 70px;
        height: 70px;
    }
    .price__item-text {
        display: none;
    }
    .price__offer:after {
        top: 0;
        right: 50px;
    }
    .price__slider-item:first-child .price__item-text {
        display: block;
        position: absolute;
        left: -157px;
        top: -3px;
        font-size: 14px;
        text-transform: none;
        border: 2px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        box-sizing: border-box;
        width: 157px;
        height: 49px;
        padding-left: 20px;
        padding-top: 12px;
        background-color: #fff;
    }
    .price__slider-item:first-child .price__item-text:last-child {
        border-bottom: 2px solid #e5e5e5;
    }
    .price__slider-item:first-child .price__offer--title {
        border-radius: 5px 0 0 0;
    }
    .price .slider-nav {
        display: none;
    }
}

@media @desktop {
    .price {
        padding-top: 70px;
        min-height: 375px;
    }
    .price:before {
        height: 81px;
        top: -81px;
    }
    .price__slider {
        padding-left: 365px;
        padding-right: 123px;
    }
    .price__slider-item:first-child .price__item-text {
        width: 236px;
        height: 62px;
        left: -236px;
        top: -2px;
        font-size: 18px;
        padding-top: 15px;
    }
    .price__offer-title {
        font-size: 18px;
        padding-bottom: 19px;
        padding-top: 19px;
    }
    .price__offer-name {
        font-size: 24px;
    }
    .price__offer,
    .price__offer-title {
        width: 234px;
        min-height: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .price__offer:after {
        top: 8px;
        right: 95px;
    }
    .price__offer-hit:before {
        width: 74px;
        height: 74px;
    }
}