.research {
    display: none;
    min-height: 265px;
    padding-top: 100px;
}

@media @tablet {
    .research {
        display: block;
    }
    .research__wrapper {
        .container;
        position: relative;
    }
    .research__info {
        width: 310px;
        padding-left: 340px;
        padding-right: 40px;
    }
    .research__info:before {
        content: '';
        display: block;
        width: 240px;
        height: 280px;
        background: transparent url('../../img/round_diagram.png') no-repeat 50% 50%;
        position: absolute;
        left: 40px;
        top: -45px;
    }
    .research__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        padding-right: 130px;
        padding-left: 10px;
        margin-bottom: 10px;
        color: #000;
    }
    .research__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: @main-text-color;
        padding-right: 0;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    .research__link {
        font-weight: 400;
        font-size: 14px;
        color: @research__link-color;
        padding-left: 10px;
    }
}

@media @desktop {
    .research {
        background-color: #f2f2f2;
        min-height: 320px;
        padding-top: 130px;
    }
    .research__info {
        width: 525px;
        padding-left: 495px;
        padding-right: 130px;
    }
    .research__info:before {
        left: 130px;
        top: -95px;
        width: 300px;
        height: 350px;
        background-size: 300px;
    }
    .research__title,
    .research__text,
    .research__link {
        padding-left: 0;
    }
    .research__title br,
    .research__text br {
        display: none;
    }
    .research__title {
        margin-bottom: 20px;
    }
    .research__text {
        padding-right: 3px;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 34px;
    }
    .research__link {
        font-size: 18px;
    }
}