.social-icons__links {
    display: inline-block;
    vertical-align: top;
    width: 45px;
    height: 45px;
    border: 3px solid #f1f2f3; 
    border-radius: 50%;
}

.social-icons__links {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 6px;
}

.social-icons__links--vk {
    background-image: url('../../img/icon-twitter.svg');
}

.social-icons__links--fb {
    background-image: url('../../img/icon-facebook.svg');
}

.social-icons__links--ytb {
    background-image: url('../../img/icon-youtube.svg');
}

.social-icons__links:last-child {
    margin-right: 0;
}

@media @tablet {
    
}